
<% require 'date' %>
<% today = Date.today - 1.months %>
<% first_day = today.beginning_of_month %>
<% last_day = today.end_of_month %>
<% days_in_month = (first_day..last_day).to_a %>

<div class=" mt-4">
  <!-- Cabecera con el mes -->
  <h3 class="text-center mb-3"><%= today.strftime("%B %Y") %></h3>

  <!-- Calendario -->
  <div class="calendar-view">
    <%# Días de la semana comenzando en lunes %>
    <% ["Lun", "Mar", "Mié", "Jue", "Vie", "Sáb", "Dom"].each do |day_name| %>
      <div class="name-day text-center fw-bold"><%= day_name %></div>
    <% end %>

    <%# Espacios antes del primer día del mes (ajustado para lunes) %>
    <% first_wday = first_day.cwday %> <%# 1 = lunes, 7 = domingo %>
    <% (first_wday - 1).times do %>
      <div class="empty-day-calendar"></div>
    <% end %>

    <%# Días del mes %>
    <% days_in_month.each do |day| %>
      <div class="day text-center">
        <div class="num-day  <%= 'num-today' if day == today %>"><%= day.day %></div>
        <div class="values-day">
          <div class="uf-day">$39.485,65 </div>
          <div class="dolar-day">$ 23,23 <small>USD</small></div>
        </div>
      </div>
      <% if (day.day % 10 == 0) && day.day != 30 %>
        <div class="empty-day-table">
          <div class="num-day"> </div>
          <div class="values-day">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>